.profile__description {
  margin: 0;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 424.5px) {
  .profile__description {
    font-size: 14px;
    text-align: center;
  }
}