.popup_type_image {
  padding-top: 41px;
  background-color: rgba(0, 0, 0, .9);
  grid-template-rows: 40px max-content;
}

@media screen and (max-width: 767.5px) {
  .popup_type_image {
    padding-top: 136px;
    grid-template-rows: 26px max-content;
  }
}