.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 30px;
}

.popup__input:focus {
  outline: none;
}

.popup__input::placeholder {
  color: rgba(196, 196, 196, 1);
}

.popup__input:nth-of-type(2) {
  margin-bottom: 48px;
}
@media screen and (max-width: 767.5px) {
  .popup__input:nth-of-type(2) {
    margin-bottom: 45px;
  }
}